

.root{
    -fx-background-image: url(../Media/img.jpg);
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center; 
    
}

/*
 * Empty Stylesheet file.
 */


#AnchorPane {
    -fx-background-color: #ade4fc;
    

}

Button{
    -fx-background-color:transparent;
    -fx-text-fill:white;
    -fx-font-family:"Agency FB";
    -fx-font-weight:bold;
    -fx-font-size: 13px;  
}

Button:hover{
     
    -fx-background-color: rgba(174,174,0,0.1);
    -fx-text-fill: yellow;
    -fx-border-width: 1px;
    -fx-border-color: rgb(174,174,0);
}

Button:pressed{
    
    -fx-background-color: rgba(100,0,0,0.5)
  
}



.punkte{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,1,2 );
}
SplitMenuButton{
    -fx-font-family:"Agency FB";
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-color:black;
}
SplitMenuButton:hover{
    -fx-background-color: rgba(174,174,0,0.1);
    -fx-text-fill: yellow;
    -fx-border-width: 1px;
    -fx-border-color: rgb(174,174,0);    
    -fx-color:black; 
}


SplitMenuButton:pressed{
    -fx-background-color: rgba(174,174,0,0.1);
    -fx-background-color:black;
    -fx-text-fill: yellow;
    -fx-border-width: 1px;
    -fx-border-color: rgb(174,174,0);

SplitMenuButton{
    -fx-font-family:"Agency FB";
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-color:black;
}
SplitMenuButton:hover{
    -fx-background-color: rgba(174,174,0,0.1);
    -fx-text-fill: yellow;
    -fx-border-width: 1px;
    -fx-border-color: rgb(174,174,0);    
    -fx-color:black; 

}


SplitMenuButton:pressed:hover{
    -fx-background-color: rgba(100,0,0,0.5)
}

.context-menu {

    -fx-background-color: black;
    -fx-text-fill: white;
}

.context-menu:hover .label {
    -fx-text-fill: white;
}

.context-menu:focused {
    -fx-background-color: rgba(174,174,0,0.1);
    -fx-text-fill: yellow;
    -fx-border-width: 1px;
    -fx-border-color: rgb(174,174,0);    
    -fx-background-color:black; 
}
.context-menu:focused .label {
    -fx-text-fill: blue;
}

SplitMenuButton{
    -fx-font-family:"Agency FB";
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-color:black;
}
SplitMenuButton:hover{
    -fx-background-color: rgba(174,174,0,0.1);
    -fx-text-fill: yellow;
    -fx-border-width: 1px;
    -fx-border-color: rgb(174,174,0);    
    -fx-color:black; 
}


SplitMenuButton:pressed{
    -fx-background-color: rgba(174,174,0,0.1);
    -fx-background-color:black;
    -fx-text-fill: yellow;
    -fx-border-width: 1px;
    -fx-border-color: rgb(174,174,0);
}

SplitMenuButton:pressed:hover{
    -fx-background-color: rgba(100,0,0,0.5)
}

.context-menu {

    -fx-background-color: black;
    -fx-text-fill: white;
}

.context-menu:hover .label {
    -fx-text-fill: white;
}

.context-menu:focused {
    -fx-background-color: rgba(174,174,0,0.1);
    -fx-text-fill: yellow;
    -fx-border-width: 1px;
    -fx-border-color: rgb(174,174,0);    
    -fx-background-color:black; 
}
.context-menu:focused.label {
    -fx-text-fill: blue;
}


