/*
 * Empty Stylesheet file.
 */

.root{
    -fx-background-image: url(../Media/img.jpg);
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center; 
    
}
