

.root{
    -fx-background-image: url(../Media/img.jpg);
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center; 
    
}

/*
 * Empty Stylesheet file.
 */


#AnchorPane {
    -fx-background-color: #ade4fc;
    

}
SplitMenuButton{
    
   
}
Button{
    -fx-background-color:transparent;
    -fx-text-fill:white;
    -fx-font-family: "Agency FB";
    -fx-font-size: 16px;  
}

Button:hover{
     
    -fx-background-color: rgba(174,174,0,0.1);
    -fx-text-fill: yellow;
    -fx-border-width: 1px;
    -fx-border-color: rgb(174,174,0);
}

Button:pressed{
    
    -fx-background-color: rgba(100,0,0,0.5)
  
}



.punkte{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,1,2 );
}

SplitMenuButton{
    -fx-background-color:transparent;
    -fx-color: rgba(100,0,0,0.3);
    
    
}

MenuItem{
   -fx-text-fill:  rgba(100,0,0,0.5); 
}
